<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uploadimg.html</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" action="/httpone">
    图片<input type="file" name="file"/>
    <input type="submit" value="上传"/>
    <a href= "http://localhost:8763/showImage?filename=TCPIP详解（中文）.pdf">在线预览</a>
</form>
<!--<input type="button" value="模拟发送带cookie的请求" onclick="clickAjax()">-->
</body>
<script>


   /* function clickAjax(){
        document.cookie="UserIP=10.0.12.12"
        document.cookie="UserProperty=VXNlcklkPVUxMUB6b25nYnUud3VqaW5nLmNufFVJX05BTUU9suLK1NPDu6czfFVJX0NFUlRJRD0zMzN8YWdlPTMwfGxldmVsPb/GvLZ8YXBwPUExQGJqLmNvbSxBMkBiai5jb20*"

    }
*/


</script>
</html>