<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
<script src="../public/bower_components/jquery/dist/jquery.js"></script>
<script>

    $.ajax({
        type:"post",
        url:"http://172.16.107.205:8763/hi?name=forezp",
        async : false,
        dataType: "jsonp", 
        success:(data)=>{
            var result = JSON.stringify(data);
            console.log(result)
            console.log(1111)
        },
        error:(error)=>{
            console.log("error")
        }
    })

</script>
</html>