<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="../dist/css/ionicons.min.css">
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../dist/css/skins/all-skins.min.css">
    <style type="text/css">
        html {
            overflow: hidden;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>系统</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>后台管理系统</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                        </li>
                        <!-- 使用者名称 -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">admin</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        admin
                                        <small>2018-7-26</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">更改密码</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">退出登录</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar">
                                <i class="fa fa-gears"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="../dist/img/user2-160x160.jpg" class="img-circle" alt="用户头像">
                    </div>
                    <div class="pull-left info">
                        <p>admin</p>
                        <a href="#">
                            <i class="fa fa-circle text-success"></i>在线</a>
                    </div>
                </div>
                <!-- 左侧搜索 form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="搜索...">
                        <span class="input-group-btn">
                            <button type="button" name="search" id="search-btn" class="btn btn-flat" onclick="search_menu()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    
                </ul>
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" id="content-wrapper" style="min-height: 421px;">
            <!--bootstrap tab风格 多标签页-->
            <!-- content nav标签 -->
            <div class="content-tabs">
                <button class="roll-nav roll-left tabLeft" onclick="scrollTabLeft()">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs menuTabs tab-ui-menu" id="tab-menu">
                    <div class="page-tabs-content" style="margin-left: 0px;">

                    </div>
                </nav>
                <button class="roll-nav roll-right tabRight" onclick="scrollTabRight()">
                    <i class="fa fa-forward" style="margin-left: 3px;"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown tabClose" data-toggle="dropdown">
                        页签操作<i class="fa fa-caret-down" style="padding-left: 3px;"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" style="min-width: 128px;">
                        <li>
                            <a class="tabReload" href="javascript:refreshTab();">刷新当前</a>
                        </li>
                        <li>
                            <a class="tabCloseCurrent" href="javascript:closeCurrentTab();">关闭当前</a>
                        </li>
                        <li>
                            <a class="tabCloseAll" href="javascript:closeOtherTabs(true);">全部关闭</a>
                        </li>
                        <li>
                            <a class="tabCloseOther" href="javascript:closeOtherTabs();">除此之外全部关闭</a>
                        </li>
                    </ul>
                </div>
                <!-- 右侧导航 -->
                <button class="roll-nav roll-right fullscreen" onclick="App.handleFullScreen()">
                    <i class="fa fa-arrows-alt"></i>
                </button>
            </div>
            <!-- content iframe部分 -->
            <div class="content-iframe " style="background-color: #ffffff; ">
                <div class="tab-content " id="tab-content">

                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.8
            </div>
            <strong>Copyright &copy; 2018
                <a href="">Subin</a>.</strong> All rights reserved.
        </footer>
    </div>

    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="../plugins/fastclick/fastclick.js"></script>
    <script src="../dist/js/app.js"></script>
    <script src="../dist/js/demo.js"></script>
    
    <!--tabs-->
    <script src="../dist/js/app_iframe.js"></script>



    <script type="text/javascript">
        /**
         * 本地搜索菜单
         */
        function search_menu() {
            //要搜索的值
            var text = $('input[name=q]').val();

            var $ul = $('.sidebar-menu');
            $ul.find("a.nav-link").each(function () {
                var $a = $(this).css("border", "");

                //判断是否含有要搜索的字符串
                if ($a.children("span.menu-text").text().indexOf(text) >= 0) {

                    //如果a标签的父级是隐藏的就展开
                    $ul = $a.parents("ul");

                    if ($ul.is(":hidden")) {
                        $a.parents("ul").prev().click();
                    }

                    //点击该菜单
                    $a.click().css("border", "1px solid");

                    //                return false;
                }
            });
        }

        $(function () {
            //  console.log(window.location);

            App.setbasePath("../");
            App.setGlobalImgPath("dist/img/");

            addTabs({
                id: '10008',
                title: '欢迎页',
                close: false,
                url: 'welcome',
                urlType: "relative"
            });

            App.fixIframeCotent();

          
            var menus = [
                {
                    id: "9000",
                    text: "导航栏",
                    icon: "",
                    isHeader: true
                },
                {
                    id: "9001",
                    text: "人员管理",
                    icon: "fa fa-user",
                    children: [
                        {
                            id: "90011",
                            text: "人员登记",
                            icon: "fa fa-pencil",
                            url: "add_personnel",
                            targetType: "iframe-tab"
                        },
                        {
                            id: "90012",
                            text: "人员列表",
                            url: "pdt",
                            targetType: "iframe-tab",
                            icon: "fa fa-reorder"
                        }
                    ]
                },
                {
                    id: "9002",
                    text: "出入境管理",
                    icon: "fa fa-flag",
                    children: [
                        {
                            id: "90021",
                            text: "出入境人员登记",
                            url: "entryandexit_registration",
                            targetType: "iframe-tab",
                            icon: "fa fa-pencil"
                        },
                        {
                            id: "90022",
                            text: "出入境人员信息",
                            url: "entryandexit_information",
                            targetType: "iframe-tab",
                            icon: "fa fa-reorder"
                        }
                    ]
                },
                {
                    id: "9003",
                    text: "设备管理",
                    icon: "fa fa-gavel",
                    children: [
                        {
                            id: "90031",
                            text: "设备登记",
                            url: "device_register",
                            targetType: "iframe-tab",
                            icon: "fa fa-pencil"
                        },
                        {
                            id: "90032",
                            text: "设备信息",
                            url: "device_administration",
                            targetType: "iframe-tab",
                            icon: "fa fa-reorder"
                        },
                        {
                            id: "90033",
                            text: "非密文件设备移交登记表",
                            url: "device_dense_register",
                            targetType: "iframe-tab",
                            icon: "fa fa-pencil"
                        },
                        {
                            id: "90034",
                            text: "非密文件设备移交表",
                            url: "device_dense_table",
                            targetType: "iframe-tab",
                            icon: "fa fa-reorder"
                        }
                    ]
                },
                {
                    id: "9005",
                    text: "机要培训",
                    icon: "fa fa-book",
                    children: [
                        {
                            id: "90051",
                            text: "课程登记",
                            url: "curriculum_register",
                            targetType: "iframe-tab",
                            icon: "fa fa-pencil"
                        },
                        {
                            id: "90052",
                            text: "培训课程",
                            url: "curriculum_details",
                            targetType: "iframe-tab",
                            icon: "fa fa-reorder"
                        }
                    ]
                },
                {
                    id: "9007",
                    text: "文件表",
                    icon: "fa fa-briefcase",
                    children: [
                        {
                            id: "90101",
                            text: "登记文件",
                            url: "file_table_register",
                            targetType: "iframe-tab",
                            icon: "fa fa-pencil"
                        },
                        {
                            id: "90102",
                            text: "文件信息表",
                            url: "file_table",
                            targetType: "iframe-tab",
                            icon: "fa fa-reorder"
                        }
                        
                    ]
                }
            ];
            $('.sidebar-menu').sidebarMenu({ data: menus });

            // 动态创建菜单后，可以重新计算 SlimScroll
            // $.AdminLTE.layout.fixSidebar();

            /*if ($.AdminLTE.options.sidebarSlimScroll) {
                if (typeof $.fn.slimScroll != 'undefined') {
                    //Destroy if it exists
                    var $sidebar = $(".sidebar");
                    $sidebar.slimScroll({destroy: true}).height("auto");
                    //Add slimscroll
                    $sidebar.slimscroll({
                        height: ($(window).height() - $(".main-header").height()) + "px",
                        color: "rgba(0,0,0,0.2)",
                        size: "3px"
                    });
                }
            }*/

        });
    </script>

</body>

</html>